<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='chatbot.css')}}">
    </head>
    <body>
        <div class="container">
            <img src="https://cdn.dribbble.com/users/6985884/screenshots/15849023/media/6dfb9f3caf75d8b6acc1f9bde6b885fa.gif" width="850" height="750">
    </div>
            <div class="container"></div>
            <div class="header">
            </div>
            <div class="footer">
                <h1 style="color:black;text-align:top;">WEBCHAT</h1> <br/>
                <form action="/chatForm" method="post">
                    <label for="message"></label>
                    <textarea id="message" name="message" rows="4" cols="40" placeholder="Type your message..."></textarea>
                    <button type="submit" style="height: 25px; width: 100px;background-color: lightgrey;">Send</button>
                </form>
                <span>{{res}}</span>
            </div>
        </div>
    </body>
</html>