<!DOCTYPE html>
<html>
<head>
    <title>Carpooling App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

 
</head>
<body style="background-color: aquamarine;">
    <div  class="container" style="align-content:end;">
        <div class="row"  style="align-content: center;">
          <div class="myCtn" style="align-content: center;">
            <div style="background-color: lavender; align-content: center;" class="myCard">
    <h1>Welcome to Carpooling App</h1>
    <a href="/register">Register</a> |
    <a href="/login">Login</a>
</div>
</div>
</div>
</div>
</body>
</html>
